<%= if Map.has_key?(assigns, :extra_prepend) do %>
<div><%= @extra_prepend %></div>
<% end %>

<%= if IO.inspect(@profile) == nil do %>
<.login_link oauth_url={ElixirAuthGoogle.generate_oauth_url(@conn)} />
<% else %>
<.profile {@profile} />
<% end %>

<div id="myapp"></div>
<script type="module">
  <%= raw "import { start_elm } from \"/js/" <> @js_file <> ".js\";" %>
  const flags = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  const app = start_elm(flags);
</script>
<script>
</script>
