<%= if Map.has_key?(assigns, :extra_prepend) do %>
<div><%= @extra_prepend %></div>
<% end %>

<% IO.inspect(@profile, label: "Profile Data") %>

<div id="myapp"></div>
<script type="module">
  <%= raw "import { start_elm } from \"/js/" <> @js_file <> ".js\";" %>
  const flags = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  const app = start_elm(flags);
</script>
<script>
</script>
