<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome App</title>
</head>
<body>
    <div id="elm-main"></div>

    <!-- Inject OAuth URL as a script -->
    <script>
      window.oauthGoogleUrl = "<%= @oauth_google_url %>";
    </script>
    
    <!-- Include the compiled Elm script -->
    <!-- <script src="/assets/elm.js"></script> -->
</body>
</html>
